<!-- Modal -->
<div class="modal" id="formModal" role="dialog">
    <!-- Modal content-->
    <div class="modal-content" style="margin-top:200px; margin-left:500px; width:500px;">
        <div class="modal-header">
            <h4 class="modal-title">Add Input Here</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <label>Form ID: </label>
            <input id="form-id" value="1">
            <br>
            <button id="add-field">Add Field</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>