doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/meta_model.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    style.
      body  {
        background-image: url("images/pexels-photo-814499.jpeg");
      }
  body
    block content
