extends ../layout

block content
  div(id="main_window_area")
  script.
    //initial object main_window
    var main_window = new Windows();
    main_window.x = 0;
    main_window.y = 0;
    main_window.width = $(document).width();
    main_window.height = $(document).height();
    main_window.link_background = 'images/pexels-photo-814499.jpeg';
    var width = main_window.width;
    var height = main_window.height;

    //create main_window
    var str = '<div id="main_window" style="width:' + width + 'px;height:' + height;
    str += 'px;border-style:dashed;border-width:2px;position:absolute;' + '"></div>'
    $("#main_window_area").html('');
    $("#main_window_area").html(str);

    //set the main_window at (0,0)
    var mw = document.getElementById('main_window');
    mw.style.position = 'absolute';
    mw.style.left = 10 + 'px';
    mw.style.top = 10 + 'px';
